@import "../../../theme/colors";

.ad {
  width: 40%;
  border: 1px solid $gray4;
  border-radius: 10px;
  padding: 20px;
  color: $white;
  display: flex;
  flex-direction: column;
}
.characteristics {
  display: flex;
  .characteristicsLabel {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-right: 18px;
    span {
      padding: 5px 0px;
      font-size: 16px;
      color: $gray3;
    }
  }
  .characteristicsValue {
    display: flex;
    flex-direction: column;
    span {
      font-size: 16px;
      padding: 5px 0px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      width: 300px;
      text-overflow: ellipsis;
      a {
        color: $light;
      }
    }
  }
}
.description {
  display: flex;
  // flex-direction: column;
  margin: 15px 0;
  h4 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray4;
}
.image {
  border-radius: 10px;
  margin: 10px 0;
}
.checkmark {
  fill: $mainGreen;
  width: 15px;
  height: 15px;
}
.xmark {
  fill: $red;
}
