@import "../../theme/colors";

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $headerBg;
  border-radius: 6px;
}
.topText {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: $white;
  font-weight: 700;
}
