@import "../theme/colors";
.container {
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
  padding: 35px;
  background-color: $background;
}
.subContainer {
  display: flex;
  max-width: 75%;
  padding: 0 20px;
  > div {
    width: 100%;
  }
}
