@import "../../theme/colors";

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  .pagerDetails {
    display: flex;
    align-items: center;
  }
  .pageRows {
    color: $white;
    margin-right: 18px;
  }
  .shownRows {
    color: $white;
  }
}
